*{
    margin: 0rem;
    padding: 0rem;
   
}

:root {
    --background:rgb(119,136,153) ;
    --text: rgb(255,250,250);
   
  }

  #bill-amount{
      padding: 1rem;
     
  }

  .cash-amount{
      padding: 1rem;
  }