*{
    margin: auto;
    padding: 0.4rem;

   
}

body{
  text-align: center;
  display: block;
  background-color: var(--Gray)
}
:root {
    --background:rgb(119,136,153) ;
    --text: rgb(255,250,250);
    --Gray: rgb(224, 206, 223);
    --fontblack: rgb(20, 18, 18);
   
  }

  .change-table {
    width: 60%;
    
    border-collapse: collapse;
    margin: auto;
  }
  
  .change-table caption {
    margin: 1rem auto;
    font-size: large;
   
  }
  
  th,
  td {
    border: 2px solid var(--background);
  
    border-collapse: collapse;
    padding: 1rem;
  }
  
  .error-msg {
    display: block;
    font-size: larger;
    margin: 1rem 0 0;
  }
  

  #bill-amount,.cash-amount {
    font-size: 14px;
    
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid ;
    border-color:var(--background) ;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 250px;
  }
  
  #btn-check {
    background: var(--text);
    border: 2px solid;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: var(--text);
   background-color: var(--fontblack);
   color: white;
    
  }

  .BillAmount , .CashAmount{
    display: block;
    font-size: large;

  }

  .change-table{
    
    text-align: center;
  }